<%- include('./partials/headers')%>
<%- include("./partials/nav")%> 
<ul>
  <% for (let cluck of clucks) { %>
    <li> <%= cluck.username %> </li>
    <li> <%= cluck.content %> </li>
    <li><% if (cluck.image_url) { %>
      <img src="<%=cluck.image_url%>">
    <% } %>
    </li>
  <% } %>
</ul>

<%- include("./partials/footer")%>  