<%- include('./partials/headers')%>
<%- include("./partials/nav")%>
<div class='columns'>
  <ul>
    <li><h3>Trending Clucks</h3></li>
    <% for (let tag in tags) { %>
      <li><%= tag %>: <%= tags[tag] %></li>
      <% } %>
  </ul>
<ul>
  <% for (let cluck of clucks) { %>
  <% const now = Math.round(new Date()/1000) %>
  <% const interval = now - (cluck.created_at / 1000) %>
  <% let toDisplay = '' %>
  <li><h3> <%= cluck.content %> </h3></li>
  <li><% if (cluck.image_url) { %>
    <img src="<%=cluck.image_url%>">
    <% } %>
  </li>
  <li> <%= cluck.username %> <%= display(interval) %> </li>
  <% } %>
</ul>
</div>

<%- include("./partials/footer")%>