<%- include("../partials/headers") %>

<h1><%= article.title %></h1>

<p><%= article.content %></p>

<form action="/articles/<%= article.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

<p>
  <small>Seen <%= article.viewCount %> time(s)</small> |
  <small>Created at <%= article.createdAt %></small>
</p>

<%- include("../partials/footer") %>
